@import url("https://fonts.googleapis.com/css?family=Roboto:400, 300, 500");

*:focus {
  outline: none;
}

.login-box {
  position: relative;
  margin: 5% auto;
  width: 650px;
  background: #ddd;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.signup {
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 400px;
  height: 100%;
  > h1 {
    text-align: center;
  }
}

.fields {
  text-align: center;
  display: flex;
  flex-flow: row wrap;

  .personal-info {
    margin-bottom: 1.2em;
  }

  .sex {
    display: flex;
    flex-flow: row wrap;
    > .title {
      width: 5em;
      padding-top: 1.3em;
    }
  }

  .birthdate {
    display: flex;
    flex-wrap: wrap;
    > .title {
      padding-top: 0.8em;
    }
  }

  .location {
    display: flex;
    flex-wrap: wrap;
    > .title {
      padding-top: 1.2em;
    }
  }

  .signup-btn {
    width: 100%;
    button {
      &:hover {
        background-color: #1cb4dd;
      }
    }
  }
}

.left {
  display: inline-block;
  position: relative;
  padding: 40px;
  width: 300px;
}

.right {
  display: inline-block;
  position: relative;
  padding: 40px;
  width: 300px;
  .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: #222;
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .login-box {
    width: 70%;
  }
  #signup-box {
    width: 300px;
  }
  .signup {
    width: 300px;
    > h1 {
      text-align: left;
    }
  }
}

@media screen and (max-width: 450px) {
  .login-box {
    width: 100%;
  }
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover,
  &:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  &:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
  }
  &.facebook {
    background: #32508e;
  }
  &.twitter {
    background: #55acee;
  }
  &.google {
    background: #dd4b39;
  }
}

.general-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
  .general-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .general-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.8em;
    .radio-button {
      display: flex;
      flex-wrap: wrap;
    }
    .birth-textfield {
      margin-top: 1.2em;
      margin-bottom: 1.2em;
    }
  }
}
