.pswforget-box {
    position: relative;
    margin: 5% auto;
    background: #ddd;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    flex-grow: 1;
    text-align: center;

    @media (min-width: 736px) {
        max-width: 388px;
    }
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    padding: 30px;
    width: 300px;
    > .ant-form-item {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
    }
}