.profile-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    .profile-bg {
        background: url('./sport-bg.jpg') no-repeat center;
        height: 300px;
        width: 100%;
    }

    .profile-pic {
        position: relative;
        bottom: 64px;
        right: 200px;

        @media (max-width: 720px) {
            right: 0px;
        }
    }
}