* {
  box-sizing: border-box;
}

.App {
  /* Center and scale the image nicely */
  background-image: radial-gradient(circle, #959595 0%, rgb(75, 70, 80) 42%, #3a3a3a 87%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  width: 120px;
  color: grey;
  float: left;
  cursor: pointer;
  font-weight: bold;
}

.content {
  height: 100%;
}

a {
  color: #16a085;
  -o-transition: color 0.3s linear;
  /* opera */
  -ms-transition: color 0.3s linear;
  /* IE 10 */
  -moz-transition: color 0.3s linear;
  /* Firefox */
  -webkit-transition: color 0.3s linear;
  /*safari and chrome */
  &:hover {
    color: #909e3e;
    -o-transition: color 0.3s linear;
    /* opera */
    -ms-transition: color 0.3s linear;
    /* IE 10 */
    -moz-transition: color 0.3s linear;
    /* Firefox */
    -webkit-transition: color 0.3s linear;
    /*safari and chrome */
  }
}

.nav-right a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0.5em;
}