$maxWidth: 720px;

.user-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    width: 100%;

    .header-search-icon, .header-menu-icon {
        display: none;
        
        @media screen and (max-width: $maxWidth) {
            display: block;
        }
    }

    .header-search {
        display: flex;
        align-items: center;
    
        @media screen and (max-width: $maxWidth) {
            display: none;
        }
    }
    
    .header-menu {
        @media screen and (max-width: $maxWidth) {
            display: none;
        }
    }

    .avatar-dropdown {
        padding-right: 8px;
        cursor: pointer;
        @media screen and (max-width: $maxWidth) {
            display: none;
        }
    }
}