.user-page {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  margin: 64px auto 0 auto;
  vertical-align: baseline;
  @media (min-width: 640px) {
    padding: 20px 24px;
  }

  .posts {
    min-width: 0px;
    width: 100%;

    .ant-btn-circle {
      margin: 0.5em;
    }

    .user-actions {
      display: flex;
      align-items: center;
      flex-flow: row wrap;
      margin-top: 4rem;

      @media screen and (max-width: 400px) {
        flex-flow: column wrap;
        align-items: flex-start;
      }

      .actions {
        @media screen and (max-width: 400px) {
          display: flex;
          align-items: normal;
          flex-flow: column wrap;
        }
      }

      .rcs-buttons {
        display: flex;
        position: relative;
        right: 40px;
      }
    }
    @media (min-width: 960px) {
      width: 648px;
    }
  }

  .right-col {
    display: none;
    margin-left: 24px;
    width: 312px;
    flex: 0 0 312px;
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    align-self: flex-start;
    @media (min-width: 960px) {
      display: block;
    }
  }

  .create-event-btn {
    display: block;
    position: fixed;
    right: 1.8rem;
    bottom: 1.8rem;
    z-index: 10;
    width: 50px;
    height: 50px;

    @media (min-width: 960px) {
      display: none;
    }
  }

  .ant-card-bordered {
    margin-bottom: 1.2em;
  }
}