@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');

@mixin PageScrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(245, 245, 245, 0.6);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}

@mixin scrollbar {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(245, 245, 245);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;

  color: #000;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 16px;
  @include PageScrollbar;
}

#root {
  height: 100%;
}

.scrollbar {
  @include scrollbar;
}