.sidebar {
  width: 100px;
  height: 100%;

  @media (min-width: 576px) {
    width: 320px;
  }

  .user_details {
    display: none;
    @media (min-width: 576px) {
      display: block;
      padding: 0 0 0 1rem;
    }

    > .username {
      margin: 0;
      color: rgba(255, 255, 255, 0.8);
      font-size: 1rem;
    }
  }
}

.message_input {
  width: 100%;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  outline: 0;
}

.chat {
  margin: 1rem 0;
  color: #fff;
  padding: 1rem;
  background: linear-gradient(90deg, #16a085, #169e4e);
  max-width: 90%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  @media (min-width: 576px) {
    max-width: 60%;
  }
}

.chat.user {
  margin-left: auto;
  background: #2b2c33;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
